.Home {
  z-index: -1;
  position: absolute;
}
/* font styles */
.Style_1 {
  font-family: 'Poppins';
  color: #DE5B31;
  font-size: clamp(0.5rem, 10.25vw, 7.25rem);
}

#Style_1_transparent {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.Style_2 {
  font-weight: 400;
  font-family: 'Roboto Mono';
  color: #fff;
  font-size: clamp(0.25rem, 3.25vw, 1.25rem);
}

/* Hero section */
.Hero_section {
  height: 100vh;
  width: 100vw;
  grid-template: 10% 1fr 1fr 10% / 10% 1fr 2fr 10%;
  display: grid;
  position: relative;
  z-index: -1;
}

.Hero_image {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.Hero_overlay {
  grid-area: 2 / 3 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.Hero_overlay :nth-child(2) {
  margin: 20px 0px 0px 50px;
  line-height: 1;
}

.Hero_overlay :nth-child(3) {
  margin-top: 10px;
  text-align: right;
}

.Scroll_indicator {
  margin-bottom: 20px;
  grid-area: 4 / 2 / span 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Indicator_image {
  width: 60px;
  margin-left: 15px;
  transform: rotate(90deg);
  animation: jumpInfinite 2s ease-in-out infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

/* Media Query width */
/* screen width size 468 or smaller */
@media only screen and (max-width: 468px) {

    /* Hero section */
    .Scroll_indicator {
      margin-left: 20px;
    }

    .Indicator_image {
      width: 40px;
   }  

}

/* Media Query  Height */
/* screen Height size 776 or lower */
@media only screen and (max-height: 776px) {

     /* Hero section */
    .Style_2 {
      font-size: clamp(0.25rem, 3.75vh, 1rem);
    }
   
    .Indicator_image {
      width: 40px;
      margin-bottom: 50px;
    }  

}
