.Navbar {
   width: 100vw;
   height: 200px;
   margin-top: 10px;
   position: absolute;
   display: flex;
   justify-content: space-between;
   z-index: 1;
}

.Navbar_logo {
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.Menu_bars {
    width: 60px;
    margin-right: 20px;
    transform: rotate(90deg);
    cursor: pointer;
}

.Menu_bars:hover {
    transform: rotate(0deg);
}

.Nav_menu {
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    float: right;
    z-index: 1;
    top: 0;
    right: -100%;
    transition: 850ms;
    background-color:#08080A;
}

.Nav_menu.active {
    right: 0;
    transition: 350ms;
}

.Nav_menu_items{
    width: 100%;
}

.Navbar_toggle {
    height: 80px;
    margin: 20px 0px 0px 20px;
}

.close_icon {
    color:#fff;
    font-size: 20px;
}

/* Media Query */
/* screen size 768 or lower */
@media only screen and (max-width: 768px) {

    /* Hero section */
    .Navbar_logo {
        width: 60px;
    }

    .Menu_bars {
        width: 40px;
    }   

    .Nav_menu {
        width: 100%;
    }

}

/* screen Height size 776 or lower */
@media only screen and (max-height: 776px) {

    /* Hero section */
   .Navbar_logo {
        width: 60px;
    }

    .Menu_bars {
        width: 40px;
    }   

    .Nav_menu {
        width: 100%;
    }
    .Navbar_toggle {
        height: 0px;
    }

}