.SocialIcons_Placement {
    height: 100vh;
    display: flex;
    align-items: flex-end;
} 
/* social icons */
.SocialIcons_Container {
    margin-left: 20px;
}

.SocialIcons_Container ul li {
    list-style: none;
    margin-bottom: 25px;
}

.SocialIcons_Container img {
    width: 40px;
}

#social_icon_line {
    width: 1px; 
    height: 250px;
    border: 1px solid #8A91AE;
    margin-left: 15px;
}

